.Blink {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    margin: auto;
    background: #444;
    border-radius: 50%;
}
.Blink.light {
    background: #f44;
    box-shadow: 1px 0px 15px #f00, 1px 0px 30px #f00, 1px 0px 20px #f00 inset;
}
