.Field {
    text-align: center;
}

.Field-label {
    font-size: 18px;
    line-height: 25px;
    color: #999;
}

.Field-value {
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    position: relative;
}

.Field-precision {
    display: inline;
    font-size: 20px;
}

.Field-leftArrow,
.Field-rightArrow {
    position: absolute;
    top: 0;
    font-size: 30px;
    padding: 0 4px;
    color: #444;
}
.active > .Field-leftArrow,
.active > .Field-rightArrow {
    color: #fff;
}

.Field-leftArrow {
    left: 40px;
    transition: ease-in-out 0.2s color, ease-in-out 0.2s left;
}
.active > .Field-leftArrow {
    left: 10px;
}

.Field-rightArrow {
    right: 40px;
    transition: ease-in-out 0.2s color, ease-in-out 0.2s right;
}
.active > .Field-rightArrow {
    right: 10px;
}
