.Field {
    text-align: center;
}

.Field-label {
    font-size: 18px;
    line-height: 25px;
    color: #999;
}

.Field-value {
    font-size: 40px;
    line-height: 50px;
    color: #fff;
}

.Field-precision {
    display: inline;
    font-size: 20px;
}
