.IntervalField {
    margin-top: 20px;
    text-align: center;
}
.IntervalField-label {
    font-size: 18px;
    line-height: 24px;
    color: #999;
}
.IntervalField-value {
    font-size: 40px;
    line-height: 50px;
    color: #fff;
}
