.MainPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
}

.MainPanel-center {
    position: relative;
}

.MainPanel-buttons {
    position: absolute;
}

@media (orientation: portrait) {

    .MainPanel-center {
        width: 320px;
        height: 480px;
        left: -160px;
        top: -240px;
    }

    .MainPanel-bpmField {
        top: 20px;
        right: 0;
        left: 0;
    }

    .MainPanel-intervalField {
        top: 100px;
        right: 0;
        left: 0;
    }

    .MainPanel-buttons {
        top: 195px;
        right: 0;
        left: 0;
    }

}

@media (orientation: landscape) {

    .MainPanel-center {
        width: 480px;
        height: 320px;
        left: -240px;
        top: -160px;
    }

    .MainPanel-bpmField {
        top: 45px;
        width: 280px;
        left: 0;
    }

    .MainPanel-intervalField {
        top: 135px;
        width: 280px;
        left: 0;
    }

    .MainPanel-buttons {
        top: 235px;
        width: 280px;
        left: 0;
    }

}
