* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    cursor: default;
    background: transparent;
}

html, body {
    font: normal 15px/20px FreeMono, monospace;
    background: #000;
    color: #fff;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
}

.Main-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.Main-loading {
    display: inline-block;
    vertical-align: middle;
    color: #999;
    font-size: 18px;
}
