.MainPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 480px;
    margin: auto;
}

.MainPanel-bpmField {
    top: 20px;
    right: 0;
    left: 0;
}

.MainPanel-intervalField {
    top: 110px;
    right: 0;
    left: 0;
}

.MainPanel-buttons {
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
}
