.MuteButton {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    width: 140px;
    margin-left: 20px;
    background: #444;
    font-size: 18px;
    border-radius: 20px;
}
.MuteButton.active {
    background: #999;
}
