.TapButton {
    position: absolute;
    top: 260px;
    right: 0;
    left: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    background: #444;
    font-size: 42px;
}
.TapButton.active {
    background: #999;
}
